@import './vars'

=registerFont($name, $path, $fileName, $weight, $style, $format)
	@font-face
		font-family: $name
		font-weight: $weight
		font-style: $style
		src: url($path + $fileName + '.' + $format) format($format)

@mixin width-320
	@media (min-width: 320px)
		@content

@mixin width-590
	@media (min-width: 590px)
		@content

@mixin width-884
	@media (min-width: 884px)
		@content

@mixin width-1100
	@media (min-width: 1100px)
		@content

@mixin width-1440
	@media (min-width: 1440px)
		@content