+registerFont('Proxima Nova', $fonts, 'ProximaNova-Regular', 400, normal)
+registerFont('Proxima Nova', $fonts, 'ProximaNova-Semibold', 600, normal)

html
	box-sizing: border-box
	font-family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	margin: 0

	*
		box-sizing: border-box

body, h1, h2, h3, h4, h5, h6
	margin: 0

input
	-webkit-appearance: none
	background-color: inherit
	border: none
	box-shadow: none
	outline: none
	font-size: inherit