.tabsItems
	display: flex
	margin-bottom: 15px
	position: relative
	border-bottom: 1px solid #979797

	.tabsItem
		flex: 1 1 auto

	.tabsItem + .tabsItem
		margin-left: 8px

.tabsItem
	background-color: #fff
	border: 1px solid #E6E6E6
	border-bottom: none
	cursor: pointer
	flex: 1 1 auto
	font-size: 10px
	height: 40px
	line-height: 12px
	outline: none
	padding: 5px
	text-transform: uppercase

	&:hover, &:focus
		border-color: darken(#E6E6E6, 10%)

	@include width-320
		font-size: calc(1.481vw + 5.261px)
		line-height: calc(1.852vw + 6.074px)

	@include width-590
		font-size: 14px
		line-height: 17px

.tabsItem_active
	border-color: #979797
	position: relative
	cursor: default

	&:hover, &:focus
		border-color: #979797

	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		top: calc(100% - 1px)
		height: 3px
		background-color: inherit