.edit
	align-items: center
	background-color: #FAFAFA
	display: flex
	justify-content: flex-start
	outline: 1px solid #E6E6E6
	transition: background-color 0.2s $cubic-bezier-default, outline 0.2s $cubic-bezier-default
	position: relative

	&:focus-within
		background-color: #fff
		outline-color: #FF8FBC

.edit__input
	flex: 1 1 auto
	height: 48px
	line-height: 22px
	padding: 10px 13px

.edit_hasError
	outline: 2px solid #FD6464